.pagination{
   font-size: 2rem;
   text-align: center;
   /* margin-bottom: 2rem; */
}

.pagination .pageItem{
   border-radius: 20px 10px;
   background: gray;
   display: inline-block;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
   margin: .5rem;

}

.pagination .pageItem:hover{
   background:rgb(196, 193, 193);
   border-radius: 10px 20px;
   cursor: pointer;
}

.pagination .pageItem .pageLink{
   font-size: 2rem;
   color: black;
}

.ProductList{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.ProductPage{
   width: 28%;
   margin: 3rem auto;
   border-radius: 1rem;
   background: rgb(196, 193, 193);
   padding: 2rem;
}

.ProductPage:hover{
   box-shadow: 0  0 3rem rgba(0, 0, 0, .7);
   cursor: pointer;
}

.ProductPage img{
   width: 500px;
   height: 500px;
   text-align: center;
   padding: 2rem;
}